pandas
mlflow
numpy
scikit-learn
matplotlib
pyYAML
tqdm
ensure==1.0.2
python-box==6.0.2
joblib
types-PyYAML
Flask
Flask-Cors
librosa
soundfile
optuna
google-cloud-storage
dvc
psutil
pyarrow
-e .

keras
tensorflow
mlflow