fastapi
uvicorn
httpx
pydantic
tensorflow
tensorboard
keras
google-auth
google-cloud
google-cloud-core
google-api-core
google-cloud-storage
gcloud
pandas
mlflow
numpy
scikit-learn
matplotlib
pyYAML
tqdm
ensure==1.0.2
python-box==6.0.2
joblib
types-PyYAML
Flask
Flask-Cors
librosa
soundfile
optuna
google-cloud-storage
dvc
psutil
